@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

body {
  font-family: "Mitr", sans-serif;
  background:  linear-gradient(to top, #facece, #ffffff);
  background-image: url(./res/Background2.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

#cps {
  margin-bottom: 100em;
  color: #ff9c56;
}

#pop-img{
  max-width: 30vw;
  height: auto;
  display: block; /* Remove extra space below inline images */
  margin: 0 auto; /* Center the image horizontally */

}

#app-name {
  font-size: 10vh;
  font-weight: bold;
  margin: 2.5% 0% -3% 0%;
  text-align: center;
  color: #4f000b;

}

#player-score {
  font-size: 8vh;
  margin-bottom:  0%;
  color: #ce4257;
}

#cps {
  font-size: 4vh;
  margin-bottom:  0%;
}

.side-buttons {
  position: absolute;
  top: 77%;
  /* transform: translateY(-50%); */
  left: 50px;
  padding: 3px;
  width: 700px;
  height: 160px;
  /* background-color: #f1f1f1; */
}

.side-buttons button {
  position: relative;
  vertical-align: middle;
  display: inline;
  margin: 5px;
  width: 160px;
  /* max-width: 50vw; */
  height: 160px;
  /* max-height: 50vh; */
  /* padding: 10px; */
  /* border: none; */
  border: #fffcf7;
  border-style: solid;

  color: white;
  font-size: 18px;
  font-family: "Mitr";
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  border-radius: 100%;
  /* background:url(./res/WhiteCat.png) no-repeat; */
}

/* .side-buttons button:hover {
  background-color: #d0357b;
} */

#cat-button {
  background-color: #ff9b54;
}
.side-buttons #cat-button:hover {
  background-color: #f87a20 !important;
}

#bonk-button {
  background-color: #ff7f51;
}
.side-buttons #bonk-button:hover {
  background-color: #fd642c !important;
}

#x10 {
  background-color: #ce4257!important;
}
.side-buttons #x10:hover {
  background-color: #d1253f !important;
}

.leaderboard {
  width: 308px;
  max-width: 325px;
  height: 1000px;
  max-height: 1000px;
  position: fixed;
  top: 57%;
  /* transform: translateY(-5%); */
  right: 5%;
  padding-left: 1.8vh;
  padding-right: 1.8vh;
  font-size: 30px;
  text-align: justify;
  /* padding-top: 0.2vh; */
  background-color: #f3f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}
#leaderboardhead {
  position: relative;
  right: 20px; 
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  /* padding-bottom: 5%; */

  width: 350px;
  height: 75px;

  background-color: #720026;
  border-radius: 10px;

  font-size: 45px;
  text-align: center;
  color: white;
}
.leaderboard li:first-child{
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffd518, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.leaderboard li:nth-child(2){
  background-color: #cccbbb;
  background-image: linear-gradient(45deg, #bebebe, #575757);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.leaderboard li:nth-child(3){
  background-color: #c4735f;
  background-image: linear-gradient(45deg, #ee9c66, #8a4106);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}


.leaderboard h2 {
  margin-bottom: 10px;
}

.leaderboard ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaderboard li {
  margin-bottom: 5px;
  font-size: 85%;
}


/* #x10 {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
} */

.login-container {
  width: 15vw;
  max-width: 400px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
}

#login-form {
  display: flex !important;
  flex-direction: column;
}

#login-password {
  margin-bottom: 10px;
}

#register-form {
  display: flex !important;
  flex-direction: column;
}

#register-password {
  margin-bottom: 10px;
}

.login-container button {
  display: inline-block;
  text-align: center;
  
  margin-bottom: 10px;
  margin-top: 10px;
  width: 7vw;
  max-width: 50vw;
  height: 5vh;
  max-height: 100px;
  padding: 10px;
  border: none;
  background-color: #ce4257;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #ce1a35;
}

.user-container button {
  margin-bottom: 10px;
  width: 7vw;
  max-width: 50vw;
  height: 5vh;
  max-height: 100px;
  padding: 10px;
  border: none;
  background-color: #ce4257;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  cursor: pointer;
}

.user-container button:hover {
  background-color: #ce1a35;
}

.user-container {
  position: fixed;
  top: 0%;
  font-size: 80%;
  max-width: 30vw;
  padding: 10px;
}
#player-user {
  margin-left: 25px;
}
#player-group {
  margin-left: 25px;
}

/* .form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input[type="text"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff98b7;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background-color: #d0357b;
} */



/* section {
  margin: 20px 0;
}

.section-title {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0;
}

.section-subtitle {
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 80%;
}

#member-list {
  margin: 0;
  font-size: 0.8em;
}

#member-list div {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  column-gap: 4px;
}

#main-table {
  padding: 0;
  width: 100%;
  background: #eee;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  overflow: hidden;
}

#main-table > thead {
  background: #555;
  color: white;
}

#main-table > thead > tr > th {
  font-weight: lighter;
  text-align: left;
}

#main-table td,
#main-table th {
  padding: 5px 10px;
  font-weight: lighter;
}

#main-table input,
#main-table select,
#filter-name,
#lower-price,
#upper-price,
#member-name-to-add {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}


#main-table button,
#add-member,
#member-list button {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
}

#main-table button:hover,
#add-member:hover,
#member-list button:hover {
  background: rgb(255, 200, 105);
  color: white;
}

#filter-button {
  color: black;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
}

#filter-button:hover {
  color: white;
  animation: filtering 10s infinite linear;
}

@keyframes filtering {
  0% {
    background: #ff0000;
  }

  12.5% {
    background: #ffa500;
  }

  25% {
    background: #ffff00;
  }

  37.5% {
    background: #008000;
  }

  50% {
    background: #0000ff;
  }

  62.5% {
    background: #4b0082;
  }

  75% {
    background: purple;
  }

  87.5% {
    background: #ee82ee;
  }

  100% {
    background: #ff0000;
  }
} */