@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

body {
  font-family: "Mitr", sans-serif;
  height: 100%;
  width: 100%;
  background:  linear-gradient(to top, #facece, #ffffff);
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}


#pop-img{
  max-width: 100%;
  height: auto;
  display: block; /* Remove extra space below inline images */
  margin: 0 auto; /* Center the image horizontally */
  bottom: 0;
}

#app-name {
  font-size: 6.5em;
  font-weight: bold;
  margin: 1% 0% -3% 0%;
  text-align: center;
}

#player-score {
  font-size: 4em;
  margin-bottom:  0%;
}

#cps {
  font-size: 2em;
  margin-bottom:  0%;
}

.side-buttons {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 20px;
  background-color: #f1f1f1;
}

.side-buttons button {
  display: block;
  margin-bottom: 10px;
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #ff76b4;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.side-buttons button:hover {
  background-color: #d0357b;
}

.leaderboard {
  width: 15vw;

  position: fixed;
  top: 40%;
  transform: translateY(-5%);
  right: 0;
  padding: 20px;
  font-size: 1vw;
  background-color: #fcc8e4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard h2 {
  margin-bottom: 10px;
}

.leaderboard ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaderboard li {
  margin-bottom: 5px;
}


#x10 {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-container {
  width: 20vw;
  max-width: 400px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input[type="text"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff98b7;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background-color: #d0357b;
}

/* section {
  margin: 20px 0;
}

.section-title {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0;
}

.section-subtitle {
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 80%;
}

#member-list {
  margin: 0;
  font-size: 0.8em;
}

#member-list div {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  column-gap: 4px;
}

#main-table {
  padding: 0;
  width: 100%;
  background: #eee;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  overflow: hidden;
}

#main-table > thead {
  background: #555;
  color: white;
}

#main-table > thead > tr > th {
  font-weight: lighter;
  text-align: left;
}

#main-table td,
#main-table th {
  padding: 5px 10px;
  font-weight: lighter;
}

#main-table input,
#main-table select,
#filter-name,
#lower-price,
#upper-price,
#member-name-to-add {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}


#main-table button,
#add-member,
#member-list button {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
}

#main-table button:hover,
#add-member:hover,
#member-list button:hover {
  background: rgb(255, 200, 105);
  color: white;
}

#filter-button {
  color: black;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
}

#filter-button:hover {
  color: white;
  animation: filtering 10s infinite linear;
}

@keyframes filtering {
  0% {
    background: #ff0000;
  }

  12.5% {
    background: #ffa500;
  }

  25% {
    background: #ffff00;
  }

  37.5% {
    background: #008000;
  }

  50% {
    background: #0000ff;
  }

  62.5% {
    background: #4b0082;
  }

  75% {
    background: purple;
  }

  87.5% {
    background: #ee82ee;
  }

  100% {
    background: #ff0000;
  }
} */